<%include header %>
<link rel="stylesheet" href="/css/style.css">
<div class="container">
    <div class="row">
        <form class="form-inline">
            <div class="col-md-12">
                <label for="name" class="col-md-4">Name</label>
                <input class="form-control col-md-8" type="text" placeholder="Name" aria-label="Name" required>
            </div>
            <div class="col-md-12">

                <label for="Email" class="col-md-4">Email</label>
                <input class="form-control col-md-8" type="email" placeholder="email" aria-label="email" required>
            </div>
            <div class="col-md-12">

                <label for="Email" class="col-md-4">Question</label>
                <textarea class="form-control col-md-8" rows="5" placeholder="write question" aria-label="question"></textarea>

            </div>
            <div class="col-md-12">

                <button type="submit">Send</button>
            </div>
        </form>
    </div>

    <div class="row">
        <div class="col">
            <a href="https://github.com/srikar"><i class="fab fa-github fa-3x"></i></a>
        </div>
    </div>
</div>
<%include footer %>

