<%include header %>
<link rel="stylesheet" href="/css/style.css">
<main>
    <article>
        <img class="rounded-circle" src="/images/srikar.jpg" width="250px" height="250px" />
       
            <iframe width="560" height="315" src="https://www.youtube.com/embed/UB1O30fR-EE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
       
        <h2 class="header">07-Srikar patle</h2>
        <section id="past-section">
            <header>
                <h2>Background</h2>
            </header>
            <p>Hi, I am from India and my undergraduate is from Keshav Memorial Institute Of Technology with major in
                Electronics and Communications. Right now I am starting to learn Applied Computer Science in Northwest
                Missouri State University.</p>
        </section>
        <section>
            <header>
                <h2 class="section-header">present</h2>
            </header>
            <p>As my under graduation is from electronics, I am very much new to computer science and I am here to put
                all my efforts to make my dreams come true.</p>
        </section>
        <section id="future-section">
            <header>
                <h2>goals</h2>
            </header>
            <p>Since i did not study computers in my undergraduate,
                <br/> I have planned myself to learn computers from a masters degree,<br/> and I thought Northwest Missouri
                State University will be the best place in achieving my goal.
                <br/><br/>
            </p>
        </section>
        <section>
            <header>
                <h2 class="section-header">class schedule</h2>
            </header>
            <ol type="a">
                <li>Data bases</li>
                <li>oops</li>
                <li>developing web apps</li>
            </ol>
        </section>
    </article>
</main>
<aside class="aside-header">
        <h3>i love watching movies</h3>
</aside>
<%include footer %>